debug = True
mqtt = 'mqtt://127.0.0.1:1883'
mqtt_topic_in = 'python/mqtttossh/in'
mqtt_topic_out = 'python/mqtttossh/out'
mqtt_payload_birth = 1
mqtt_payload_last_will = 0
ansible_project_dir = '/opt/mqtttossh/playbook'
ansible_inventory = '/opt/mqtttossh/inventory.yml'
